<h2><%= @user.name %></h2>

<p>
  This is your profile stats<br>
  Email: <%= @user.email %>
  <br>
  All events created:
  <br>
  <% @events.each do |e| %>
    <%= e.created_events.title %>
    <br>
  <% end %>
</p>

<h4>Upcoming Events</h4>
<ul>
  <%= @upcoming_events.each do |u| %>
    <li><%= u.title %></li>
  <% end %>
</ul>
<br>

<h4>Previous Events</h4>
<ul>
  <%= @prev_events.each do |p| %>
    <li><%= p.title %></li>
  <% end %>
</ul>


<%= link_to "Home Page", root_path %>
